body {
    margin-top: 50;
    background: #f4f4f4;
    color:rgb(60, 57, 59);
    font-family: monospace;
    font-size: 12px;
    font-weight: 100;
    a:link{
    color: rgb(60, 57, 59);
}
a:visited{
    color:rgb(60, 57, 59);
    
}
}

/*Opening content*/
    #top{
        height: 500px;
        position:unset;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #typer {
        background-color: grey;
        color: white;
        width: 50%;
        padding: 5px;
        font-size: 14px;

    }

    #D_pass {
        width: 250px;
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: rgb(81, 238, 28); }
}

    .cursor {
        height: 1em;
        border-right: 4px solid white;
        vertical-align: bottom;
        animation: blink-caret .75s step-end infinite;
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: white; }
    }

/*Title/Tabs*/
    #title {
        display: none;
        height: 100px;
        background: grey;
        color:#f4f4f4;
        font-size: 35px;
        font-family: "Kode Mono";
        justify-content: center;
        align-items: center;
    }
    #tabs {
        display: none;
    }
    .entry {
        font-weight: bold;
    }
    .tabs {
        margin-top: 5px;
        display: flex;
        justify-content: space-evenly;
    }
    .page {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 35px;
        border: black, thick
    }
/*Content*/
    .main {
        display: none;
        margin: auto;
        width: 60%;
    }
