body {
  color:rgb(60, 57, 59);
  font-family: monospace;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50;
  background: #f4f4f4;
}
audio {
  display: block;
  margin-left: 0;
  margin-top: 0px;
}
.headline{
  font-size: 16px; 
  font-weight: bold;
}
.entry {
  margin-bottom: 60px;
}
.date {
  font-size: 12px;
color: gray;
}
