body {
  margin-top: 50;
  background: #f4f4f4;
  color:rgb(60, 57, 59);
  font-family: monospace;
  font-size: 12px;
  font-weight: 100;
}

#title {
    height: 100px;
    background: rgb(60, 57, 59);
    color:#f4f4f4;
    font-size: 35px;
    font-family: "Kode Mono";

    display: flex;
    justify-content: center;
    align-items: center;
}
.entry {
    font-weight: bold;
}

.main {
    margin: auto;
    width: 60%;
}
.tabs {
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}
.page {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 35px;
    border: dashed;
}
