/*Content/Main Formatting*/
    .main {
        display: block;
        margin: auto;
        width: 60%;
    }
    .main a {
    color: revert;
    text-decoration: revert;
}
body {
    background: #f4f4f4;
    color:rgb(60, 57, 59);
    font-family: monospace;
    font-size: 12px;
    font-weight: normal;
}
a {
    color: rgb(60, 57, 59);
    text-decoration: none;
    padding: 10px 10px;
    margin: -1em;
}
    .entry {
        font-weight: bold;
    }
/*Title/Tabs*/
    #title {
        display: flex;
        height: 100px;
        color:rgb(60, 57, 59);
        font-size: 35px;
        font-family: "Kode Mono";
        justify-content: center;
        align-items: center;
        a{
            color:rgb(60, 57, 59);
        }
    }
    #tabs {
        display: flex;
    }
    .tabs {
        margin-top: 5px;
        display: flex;
        justify-content: space-evenly;
    }
    .page {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 35px;
        border: black, thick
    }
    #secretpass {
        visibility: hidden;
        }

/*Only relevant to about.html*/ 

#skip {
    top: -650px;
    display:flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    animation: skip 1s step-end infinite;
}

@keyframes skip {
        from, to { color: transparent }
        50% { color: black; }
    }

#top {
    width: 100%;
    margin-top: 100px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    #typer {
        background-color: grey;
        color: white;
        width: 50%;
        padding: 5px;
        font-size: 15px;

    }

    #D_pass {
        width: 270px;
    }

  /*  .cursor {
        height: 1em;
        border-right: 4px solid white;
        vertical-align: bottom;
        animation: blink-caret .75s step-end infinite;
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: white; }
    }
        */