body {
    color:rgb(81, 238, 28);
    background-color: #000000;
    font-family: "Kode Mono";
    font-size: 16px;
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: left;
    justify-content: start;
}

alert{
    font-family: "Kode Mono";
    font-size: 45px;
    font-weight: bold;
}

.cursor {
    height: 1em;
    border-right: 4px solid rgb(81, 238, 28);
    vertical-align: bottom;
    animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(81, 238, 28); }
}

#agreement {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    /*color:rgb(81, 238, 28);
    background-color: #000000;
    font-family: "Kode Mono";
    font-size: 16px;
    pointer-events: none;
    border: none;
    outline: none;
    caret-color: transparent;*/
}
#agreement:focus {
    border: none
}

#proceeding {
    display: none
}